In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [16]:
df= pd.read_csv('3_1.csv', index_col='id')
df

     X   Y
id
1    4  10
2   22  41
3   20  36
4    7  17
5   13  31
6   12  35
7   17  47
8    3  10
9    1   5
10  21  41

In [6]:
# выборочное среднее X
df.X.mean()

12.0

In [7]:
# выборочное среднее Y
df.Y.mean()

27.3

In [24]:
X = pd.DataFrame(df['X'])
y = pd.DataFrame(df['Y'])
reg = LinearRegression().fit(X, y)
y_pred = reg.predict(X)

Значение коэффициента $\theta_0$:

In [21]:
reg.intercept_

array([5.45658363])

Значение коэффициентов $\theta_1, \ldots, \theta_p$:

In [22]:
reg.coef_

array([[1.8202847]])

Ошибка R^2

In [27]:
r2_score(y, y_pred)

0.8808245804605275